#deliverLocation{
  display: none;
}

body{
  background-image: url('../images/background2.jpg');
  background-size: cover;
  }
body p{
  font-family: 'Lacquer';
  font-size: 18px;
}
h1{
  font-family: 'Lacquer';
 
}
h3{
  font-family: 'Lacquer';
}
h4 {
  font-family: 'Lacquer';

}
label{
  font-size: 20px;
}
.crustInfo p{
  display: none;
}
.hide{
  display: none;
}
#numberLabel{
  margin-right: 50px;
}
.numberDiv{
  padding-bottom: 50px;
}
.btn{
  margin: 10px;
  padding: 10px;
}