#deliverLocation{
  display: none;
}

body{
  background-image: url('../images/background2.jpg');
  background-size: cover;
  }
.crustInfo img{
  display: none;
}
.hide{
  display: none;
}
#numberLabel{
  margin-right: 50px;
}
.numberDiv{
  padding-bottom: 50px;
}